{{#partial "content"}}
    <!-- Datos de registro-->
    <div class="register">
        <div class="container">
            <div class="py-5 text-center">
                <br> <br>
                <h2 class="wavyy">Dar en adopción</h2>
                <p class="lead">Ingresá tus datos y los de la mascota.</p>
                {{#unless usuario}}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h3 class="lead">¿Ya tenés una cuenta?</h3>
                            <a class="btn-grande" type="submit" href="login">Ingresá</a>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="lead">¿Querés crearla?</h3>
                            <a class="btn-grande" type="submit" href="registro_usuario">Registrate</a>
                        </div>
                    </div>
                {{/unless}}
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <form class="needs-validation form-" action="/dar_adopcion" method="post" enctype="multipart/form-data" novalidate>
                        <div class="row g-3">
                            {{#unless usuario}}
                                <h4 class="mb-3 wavyp">Tus datos:</h4>
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Tu nombre"
                                           value=""
                                           name="nombrePersona"
                                           required>
                                    <div class="invalid-feedback">
                                        Ingresá un nombre.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Tu apellido"
                                           value=""
                                           name="apellido"
                                           required>
                                    <div class="invalid-feedback">
                                        Ingresá un apellido.
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="firstName" class="form-label">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="firstName" placeholder="aaaa-mm-dd"
                                           value=""
                                           name="fnacPersona"
                                           required>
                                    <div class="invalid-feedback">
                                        Ingresá tu fecha de nacimiento.
                                    </div>
                                </div>

                                <div class="col-sm-3 ">
                                    <label for="lastName" class="form-label">Tipo</label>
                                    <select class="form-select" id="state" name="tipoDoc" required>
                                        <option value="">...</option>
                                        {{#each tipos}}
                                            <option value="{{.}}">{{.}}</option>
                                        {{/each}}
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccioná el tipo de documento.
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="lastName" class="form-label">Nro documento</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                           name="nroDoc" required>
                                    <div class="invalid-feedback">
                                        Ingresá un número de documento válido.
                                    </div>
                                </div>

                                <div class="row py-3">
                                    <div class="col-md-4">
                                        <label for="country" class="form-label">País</label>
                                        <select class="form-select" id="country" name="pais" required>
                                            <option value="">Elegí...</option>
                                            <option value="argentina">Argentina</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, ingresá un país válido.
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="state" class="form-label">Provincia/Estado</label>
                                        <select class="form-select" id="state" name="provincia" required>
                                            <option value="">Elegí...</option>
                                            {{#each provincias}}
                                                <option value="{{.}}">{{.}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, ingresá una provincia.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <label for="address" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="address"
                                           placeholder="Av. Siempreviva 742"
                                           name="direccion" required>
                                    <div class="invalid-feedback">
                                        Por favor, ingresá la dirección.
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="zip" class="form-label">Código Postal</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required>
                                    <div class="invalid-feedback">
                                        El código postal es obligatorio.
                                    </div>
                                </div>

                                <hr class="my-4">

                                <h4 class="mb-3 wavyp">Tus contactos:</h4>

                                <div class="row g-3">

                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                               name="cNombre" required>
                                        <div class="invalid-feedback">
                                            Ingrese un nombre válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                               name="cApellido" required>
                                        <div class="invalid-feedback">
                                            Ingrese un apellido válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Número celular</label>
                                        <input type="text" class="form-control" id="celular" placeholder="+541123456789"
                                               value="" name="cNumero" required>
                                        <div class="invalid-feedback">
                                            Ingrese un número de celular válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Correo Electrónico</label>
                                        <input type="text" class="form-control" id="email"
                                               placeholder="nombre@correo.com"
                                               value="" name="cCorreo" required>
                                        <div class="invalid-feedback">
                                            Ingrese un correo electrónico válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="medio" class="form-label">Medio preferido</label>
                                        <select class="form-select" id="state" name="medioPreferido" required>
                                            <option value="">Elegí...</option>
                                            <option value="EMAIL">Email</option>
                                            <option value="WHATSAPP">WhatsApp</option>
                                            <option value="SMS">SMS</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Elegí un medio de comunicación.
                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-right">
                                        <button id="mostrarContacto2" class="btn-mis" name="answer" onclick="ShowDiv()">
                                            + Otro contacto
                                        </button>
                                    </div>
                                </div>

                                <!-- Contacto 2 -->
                                <div class="row g-3" style="display:none;" id="contacto2">
                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                               name="cNombre2">
                                        <div class="invalid-feedback">
                                            Ingrese un nombre válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                               name="cApellido2" >
                                        <div class="invalid-feedback">
                                            Ingrese un apellido válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Número celular</label>
                                        <input type="text" class="form-control" id="celular" placeholder="+541123456789"
                                               value="" name="cNumero2" >
                                        <div class="invalid-feedback">
                                            Ingrese un número de celular válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Correo Electrónico</label>
                                        <input type="text" class="form-control" id="email"
                                               placeholder="nombre@correo.com"
                                               value="" name="cCorreo2" >
                                        <div class="invalid-feedback">
                                            Ingrese un correo electrónico válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="medio" class="form-label">Medio preferido</label>
                                        <select class="form-select" id="state" name="medioPreferido2" >
                                            <option value="">Elegí...</option>
                                            <option value="EMAIL">Email</option>
                                            <option value="WHATSAPP">WhatsApp</option>
                                            <option value="SMS">SMS</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Elegí un medio de comunicación.
                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-right">
                                        <button id="mostrarContacto3" class="btn-mis" name="answer" onclick="ShowDiv()">
                                            + Otro contacto
                                        </button>
                                    </div>
                                </div>

                                <!--Contacto 3-->
                                <div class="row g-3" style="display:none;" id="contacto3">
                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                               name="cNombre3" >
                                        <div class="invalid-feedback">
                                            Ingrese un nombre válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                               name="cApellido3" >
                                        <div class="invalid-feedback">
                                            Ingrese un apellido válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Número celular</label>
                                        <input type="text" class="form-control" id="celular" placeholder="+541123456789"
                                               value="" name="cNumero3" >
                                        <div class="invalid-feedback">
                                            Ingrese un número de celular válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Correo Electrónico</label>
                                        <input type="text" class="form-control" id="email"
                                               placeholder="nombre@correo.com"
                                               value="" name="cCorreo3" >
                                        <div class="invalid-feedback">
                                            Ingrese un correo electrónico válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="medio" class="form-label">Medio preferido</label>
                                        <select class="form-select" id="state" name="medioPreferido3" >
                                            <option value="">Elegí...</option>
                                            <option value="EMAIL">Email</option>
                                            <option value="WHATSAPP">WhatsApp</option>
                                            <option value="SMS">SMS</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Elegí un medio de comunicación.
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">
                            {{/unless}}

                            <h4 class="mb-3 wavyp">Datos de tu mascota:</h4>
                            <div class="col-sm-4">
                                <label for="firstName" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Su nombre" value=""
                                       name="nombre"
                                       required>
                                <div class="invalid-feedback">
                                    Ingrese un nombre válido.
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="lastName" class="form-label">Apodo</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Su apodo" value=""
                                       name="apodo"
                                       required>
                                <div class="invalid-feedback">
                                    Ingrese un apellido válido.
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label for="firstName" class="form-label">Edad</label>
                                <input type="number" class="form-control" id="firstName" placeholder="" value=""
                                       autocomplete="off" name="edad" required>
                                <div class="invalid-feedback">
                                    Ingrese una edad válida.
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label for="lastName" class="form-label">Especie</label>
                                <select class="form-select" id="state" name="especie" required>
                                    <option value="">...</option>
                                    <option value="gato">Gato</option>
                                    <option value="perro">Perro</option>
                                </select>
                                <div class="invalid-feedback">
                                    Seleccioná una especie.
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label for="lastName" class="form-label">Sexo</label>
                                <select class="form-select" id="state" name="sexo" required>
                                    <option value="">...</option>
                                    <option value="hembra">Hembra</option>
                                    <option value="macho">Macho</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favore, elegí el sexo.
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label for="lastName" class="form-label">Tamaño</label>
                                <select class="form-select" id="state" name="tamanio" required>
                                    <option value="">...</option>
                                    <option value="chica">Chica</option>
                                    <option value="mediana">Mediana</option>
                                    <option value="grande">Grande</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, elegí el tamaño.
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label for="text" class="form-label">Descripción</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                          name="descripcion"></textarea>
                                <div class="invalid-feedback">
                                    Por favor, ingresá una descripción.
                                </div>
                            </div>
                            <hr class="my-4">
                            <h4 class="mb-3 wavyp">Fotos de tu mascota:</h4>
                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="file" class="form-control" id="inputGroupFile04"
                                               aria-describedby="inputGroupFileAddon04" aria-label="Upload"
                                               accept="image/*" name="foto" multiple>
                                    </div>
                                </div>
                                <p>* Podés seleccionar varias imágenes</p>
                            </div>

                            <hr class="my-4">

                            <h4 class="mb-3 wavyp">Más info:</h4>

                            <div class="form-group row">

                                <div class="col-sm-6">
                                    {{#each generales}}
                                        <label for="general" class="form-label">{{preguntaMascota}}</label>
                                        <select class="form-select" id="state" name="respuestaGeneral{{@index}}" required>
                                            <option value="" selected="selected">...</option>
                                            {{#each respuestas}}
                                                <option value="{{.}}">{{.}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, elegí una respuesta.
                                        </div>
                                    {{/each}}
                                </div>

                            </div>

                            <h4 class="mb-3 wavyp">Preferencias y comodidades:</h4>

                            <div class="form-group row">

                                <div class="col-sm-6">
                                    {{#each pyc}}
                                        <label for="general" class="form-label">{{preguntaMascota}}</label>
                                        <select class="form-select" id="state" name="respuestapyc{{@index}}" required>
                                            <option value="" selected="selected">...</option>
                                            {{#each respuestas}}
                                                <option value="{{.}}">{{.}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, elegí una respuesta.
                                        </div>
                                    {{/each}}
                                </div>

                            </div>
                            <hr class="my-4">
                            <div class="row g-3">
                                <h4 class="mb-3 wavyp">Asociaciones:</h4>

                                <p>Seleccioná una asociación:</p>
                                <div class="col-sm-6">
                                    <label for="general" class="form-label">Asociación</label>
                                    <select class="form-select" id="state" name="asociacion" required>
                                        <option value="" selected="selected">...</option>
                                        {{#each organizaciones}}
                                            <option value="{{nombre}}">{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, elegí una respuesta.
                                    </div>
                                </div>

                            </div>
                            <hr class="my-4">

                        </div>
                        <div class="text-center">
                            <button class="btn-grande text-uppercase fw-bold mb-2" type="submit">SIGUENTE</button>
                        </div>
                    </form>
                </div>

                <!--------------------------------------------Foto derecha--------------------------------------------->
                <div class="col-lg-3">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <img class="register-img d-none d-lg-block" src="img/pet-register.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Datos de registro-->
{{/partial}}

{{#eq rol null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol "Duenio"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}