{{#partial "content"}}

    <!-- Single Post Start-->
    <div class="single">
        <div class="container top">
            <div class="row">
                <h3>Publicación Nro <span>{{publicacion.id}}</span></h3>
                <p>Fecha: {{publicacion.fecha}}</p>
                <div class="col-lg-6">
                    <div class="single-content wow fadeInUp">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                            {{#each publicacion.datosMascotaEncontrada.fotos}}
                                <div class="carousel-inner">
                                        {{#if @index}}
                                            <div class="carousel-item">
                                                <img src="../{{uRLfoto}}" alt="Slide Number {{@index}}">
                                            </div>
                                        {{else}}
                                            <div class="carousel-item active">
                                                <img src="../{{uRLfoto}}" alt="Slide Number {{@index}}">
                                            </div>
                                        {{/if}}

                                </div>
                            {{/each}}

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="sidebar">
                        <div class="sidebar-widget wow fadeInUp">
                            <div class="text-widget">
                                <h6 class="wavyp">Descripción:</h6>
                                <p>
                                    {{publicacion.datosMascotaEncontrada.descripcion}}
                                </p>
                                <h6 class="wavyp">Lugar de encuentro:</h6>
                                <div id="latEncontrada"
                                     style="display:none;">{{publicacion.datosMascotaEncontrada.lugar.latitud}}</div>
                                <div id="longEncontrada"
                                     style="display:none;">{{publicacion.datosMascotaEncontrada.lugar.longitud}}</div>
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div id="mapaEncontrada" style="width: 80%; height: 300px">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if usuario}}
        <div class="container">
            <div class=" text-center form-check">
                <input type="checkbox" class="form-check-input" id="save-info" required>
                <label class="form-check-label" for="save-info">Acepto que se envíen mis datos de contacto al
                    responsable</label>
            </div>
        </div>
        <div class="py-3 container text-center">
            <a class="btn-grande" href="../enviar_datos/{{publicacion.id}}" method="post">¡Es mi mascota!</a>
        </div>
    {{/if}}


    {{#unless usuario}}
        <div class="py-3 container text-center">
            <a class="btn-grande" href="#datos">¡Es mi mascota!</a>
        </div>


        <div class="container top" id="datos">
            <div class="py-5 text-center" id="form">
                <br> <br>
                <h2>Datos de contacto <i class="fas fa-paw"></i></h2>
                <p class="lead">Enviaremos tu contacto al responsable de la mascota para que se contacte con vos.
                </p>
            </div>

            <form class="text-center text-md-left" action="/enviar_datos/{{publicacion.id}}" method="post" novalidate>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label fw-bold">Tu nombre : </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                    </div>
                    <label for="email" class="col-sm-2 col-form-label fw-bold">Correo electrónico : </label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" name="email" placeholder="Correo electrónico">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="telefono" class="col-sm-2 col-form-label fw-bold">Teléfono : </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="telefono" name="numero"
                               placeholder="+541123456789">
                    </div>

                    <label for="medio" class="col-sm-2 col-form-label fw-bold">Medio preferido : </label>
                    <div class="col-sm-3">
                        <select class="form-select" id="medio" name="medioPreferido" required>
                            <option value="">Elegí...</option>
                            <option value="Email">Email</option>
                            <option value="WhatsApp">WhatsApp</option>
                            <option value="SMS">SMS</option>
                        </select>
                        <div class="invalid-feedback">
                            Elegí un medio de comunicación.
                        </div>
                    </div>
                </div>

                <hr class="my-4">
                <div class="col-sm-12 text-center py-5">
                    <p>
                        <button class="btn-grande" style="color: #fff" type="submit"> Enviar mis datos</button>
                    </p>
                </div>
            </form>
        </div>
    {{/unless}}

{{/partial}}

{{#eq rol null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol "Duenio"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}