{{#partial "content"}}
    <div class="blog top">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Las están buscando</p>
                <h2>Perdidas</h2>
            </div>
            <div class="row blog-page">
                {{#each perdidas}}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="../{{{mascota.fotos.[0].uRLfoto}}}" alt="Blog">
                        </div>
                        <div class="blog-text">
                            <h2>{{mascota.nombre}}</h2>
                            <div class="blog-meta">
                                <p><i class="far fa-calendar"></i> {{mascota.edad}} meses
                                    <i class="fas fa-venus-mars"></i> {{mascota.genero}}
                                    <i class="fas fa-map-marker-alt"></i> LUGAR
                                </p>
                            </div>
                            <p>
                                {{mascota.descripcion}}
                            </p>
                            <a class="btn-mis" href="">Ver perfil <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/partial}}

{{#eq rol null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol "Duenio"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}