{{#partial "content"}}
    <!-- Single Post Start-->
    <div class="single">
        <div class="container top">
            <div class="row">
                <h3>Publicacion Nro {{publicacion.id}}</h3>
                <p>Fecha: {{publicacion.fecha}}</p>
                <div class="col-lg-6">
                    <div class="single-content wow fadeInUp">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                {{#each publicacion.datosMascotaEncontrada.fotos}}
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="../{{uRLfoto}}" alt="First slide">
                                </div>
                                {{/each}}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="sidebar">
                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title wavyp">Mascota encontrada</h2>
                            <div class="text-widget">
                                <h6 class="wavyp">Lugar de encuentro:</h6>
                                <div id="latEncontrada"
                                     style="display:none;">{{publicacion.datosMascotaEncontrada.lugar.latitud}}</div>
                                <div id="longEncontrada"
                                     style="display:none;">{{publicacion.datosMascotaEncontrada.lugar.longitud}}</div>
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div id="mapaEncontrada" style="width: 80%; height: 300px">
                                        </div>
                                    </div>
                                </div>
                                <p>
                                <h6>En qué estado fue encontrada:</h6>
                                {{publicacion.datosMascotaEncontrada.descripcion}}
                                </p>
                            </div>
                        </div>
                        <div class="conteiner">
                            <div class="row  justify-content-center">
                                <div class="py-2 col-4">
                                    <a href="/aprobar_encontrada/{{publicacion.id}}" method="post" class="btn-grande" style="background-color: green;">APROBAR</a>
                                </div>
                                <div class=" py-2 col-4">
                                    <a href="/rechazar_encontrada/{{publicacion.id}}" method="post" class="btn-grande" style="background-color: red;">RECHAZAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Single Post End-->
{{/partial}}

{{#eq rol null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol "Duenio"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}